.connect {
  padding: 50px 40px;
}

.connect-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* LABEL */
.section-label {
  color: #2f6bff;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 14px;
}

/* SOCIAL */
.socials {
  display: flex;
  gap: 16px;
}

.social-card {
  width: 52px;
  height: 52px;
  background: white;
  border: 1px solid #e5ebff;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.3s;
  box-shadow: 0 8px 20px rgba(47, 107, 255, 0.08);
}

.social-card img {
  width: 24px;
  height: 24px;
}

.social-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 40px rgba(47, 107, 255, 0.15);
}

/* TOOLS */
.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.tool {
  width: 52px;
  height: 52px;
  background: white;
  border: 1px solid #e5ebff;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 8px 20px rgba(47, 107, 255, 0.08);
}

.tool img {
  width: 26px;
  height: 26px;
}

/* RESPONSIVE */
@media (min-width: 768px) {
  .connect-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}